<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/style.css">
    <title>FakeProd</title>
</head>
<body>
    <nav>
        <div class="navHead">
            FakeProd
        </div>
        <ul>
            <li>
                <a href="index.html">
                    Home
                </a>
            </li>
            <li>
                <a href="{{ url_for('fakerev')}}">
                    Detect Review
                </a>
            </li>
            <li>
                <a href="{{ url_for('spamdetection')}}">
                    User Spam Detection
                </a>
            </li>
        </ul>
        <button>Login</button>
    </nav>

    <div class="tabs">
        <div class="tab">
            <a href="{{ url_for('fakerev')}}">
                <div class="content">
                    Perform Fake Product Review Detection
                </div>
            </a>
        </div>

        <div class="tab">
            <a href="#">
                <div class="content">
                    Web application User Spam Detection
                </div>
            </a>
        </div>
    </div>
</body>
</html>